footer {
//   background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  background: url("images/dark-wood.png") center no-repeat;
  background-size: 100%, cover;
  height: 200px;
  width: 100%;
//   margin-bottom: 5px;
// height: 200px;
}