footer {
  background: url('images/dark-wood.png') center no-repeat;
  background-size: 100%, cover;
  height: 250px;
  width: 100%;
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;

  h1 {
    color: #d99054;
  }
}

.contact {
  grid-column-start: 1;
  justify-items: center;
  align-items: center;
  line-height: 2em;

  span {
    color: white;
  }

  i {
    color: white;
    padding: 5px;
  }
}

.hours {
  grid-column-start: 2;
  justify-items: center;
  align-items: center;
  line-height: 2em;

  p {
    span {
      font-weight: bold;
    }
  }
}

.footer-icon {
  grid-column-start: 4;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  margin-right: 140px;
  margin-bottom: 50px;
}

.copyright {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  margin-right: 10px;
}
