.header-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .search-box {
    grid-column-start: 3;
    display: flex;
    z-index: 9999;
    justify-content: flex-end;

    #ajaxsearchlite1 {
        width: 30%;
    }

    
}

.menu-shop-container {
  grid-column-start: 3;

  .menu {
      display: flex;

    li {
        padding-right: 10px;
    }
  }  

    
  }
}

.menu li {
  z-index: 9999;
}

a:-webkit-any-link {
  color: #248a83;
  cursor: pointer;
  text-decoration: none;
}

.menu-shop-container {
  text-decoration: none;
}

.header-nav {
  // width: 30px;
  a {
    z-index: 9999;
  }
}

.home-link {
  width: 40px;
}

#ajaxsearchliteres1 {
    margin-left: -115px;
 }