.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 50px;
  padding-top: 25px;

  img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 5px;
  }
}

.product-posts {
  border: 1px solid #a1a1a1;
  font-size: 14px;
  
  figcaption {
      padding: 10px;
  }

  .title-price a {
    display: flex;
    position:relative;
    justify-content: space-between;
    margin-top: -22px;
  
   
    
    h2 {
        background: white;
        color:black;
        font-size: 12px;
        font-family: 'Merriweather-light';
        padding: 5px;
        padding-top: 0px;
      
    }
  }

  hr {
    border: 1px dotted;
    color: black;
    position: relative;
    border-radius: 5px;
  }
}

h1 {
  font-family: 'Novecento-Sans-bold';
  text-align: center;
}

.links {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: 'Novecento-Sans';
}

.shop-stuff-title {
  font-size: 30px;
  border-top: 2px solid #e1e1e1;
  padding-top: 20px;
}


.taxonomy-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  padding: 50px;
  padding-top: 25px;

  img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
}