.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 50px;
        
  
    img {
        height: 180px;
        width: 100%;
        object-fit: cover;
            }
            
}

.product-posts {
    height: 100%;
        border: 1px solid #a1a1a1;
    

    div {
        display: flex;
    }

    hr {
        border: 1px dotted;
        color: black;
        // transform: rotate(90deg);
    }
}

  h1 {
        font-family: 'Novecento-Sans-bold';
       text-align: center;

    }

.links {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-right: 300px;
    padding-left: 300px;
    padding-top:15px;
    font-family: 'Novecento-Sans';
   
}

.shop-stuff-title {
    font-size: 30px;
}
