.single-journal {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  border-top: 2px solid #e1e1e1;


  h2 {
    font-family: 'Novecento-Sans-bold';
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: 30px;
    padding: 10px;
    background-color: #248A83;
    color: white;
    text-transform: uppercase;
   }

   h3 {
    
      font-family: 'Novecento-Sans-bold';
      font-weight: bold;
      font-size: 12px;
      position: absolute;
      padding: 10px;
      background-color: #248A83;
      color: white;
      text-transform: uppercase;
     margin-left: 507.7px;
     margin-top: -50.5px;
   }

   p {
       grid-column-start: 1;
   }
}

.single-journal-content {
  grid-column-start: 1;
  padding: 50px;
  padding-top: 30px;

  img {
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 10px;
    padding-top: 10x;
  }

  span { 
   color: #248A83;
  }

  .single-journal-tags {
    display: flex;

    p {
      padding-right: 20px;
    }
  }

  
}

